@page
@model Academy.Pages.Teachers.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Teacher</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Teacher.last_name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Teacher.last_name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Teacher.first_name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Teacher.first_name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Teacher.middle_name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Teacher.middle_name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Teacher.birth_date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Teacher.birth_date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Teacher.email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Teacher.email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Teacher.phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Teacher.phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Teacher.work_since)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Teacher.work_since)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Teacher.rate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Teacher.rate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Teacher.photo)
        </dt>
        <dd class="col-sm-10">
            @if (Model.Teacher.photo?.Length > 0)
            {
                <img style="max-width:200px;height:auto;border:1px solid #dee2e6; border-radius:4px;"
                     src="data:image; base64, @Convert.ToBase64String(Model.Teacher.photo)"
                     alt="Photo" />
            }
        </dd>
    </dl>
</div>
<div>
    <h5>Количество дисциплин: @Model.Teacher.DisciplinesRelations?.Count()</h5>
    <ul>
        @foreach (Models.TeacherDisciplineRelation dr in Model.Teacher.DisciplinesRelations)
        {
            <li>
                @dr.Discipline.discipline_name
            </li>
        }
    </ul>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Teacher.teacher_id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
